<div class="container">
    <div class="jumbotron text-center">
        <h1>Source Control System</h1>
        <h4>An application that allows people to work in teams and collaborate in software programming.</h4>
    </div>

    <!--STATS-->
    <div stats />

    <div class="row text-center">

        <!--PROJECTS-->
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Projects</h3>
                </div>
                <div class="panel-success">
                    <div all-projects />
                </div>
            </div>
        </div>

        <!--COMMITS-->
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Commits</h3>
                </div>
                <div class="panel-success">
                    <div all-commits />
                </div>
            </div>
        </div>

    </div>
</div>